{% extends "layout3.html" %}

{% block page_title %}LeWallet - Transaction History{% endblock %}

{% block content %}
<section class="container mt-5">
  <div>
    <h1>Transaction History</h1>
    <p><em>Insert Period of Transaction</em></p>

    <!--Select Period of Transaction-->
    <form action="/history/details" method="POST">
      <div class="mb-3">
        <label class="form-label h3" for="start_date">Start Date:</label>
        <input class="form-label" type="date" name="start_date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
      </div>

      <div class="mb-3">
        <label class="form-label h3" for="end_date">End Date:</label>
        <input type="date" name="end_date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
{% endblock %}