{% extends "layout.html" %}

{% block page_title %}trustWallet: E-Finance Simplified{% endblock %}

{% block content %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1498898733745-c8c6df58e4ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80')">
    <div class="text-center my-5">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">>
        <h1 class="text-white fs-3 fw-bolder">trustWallet</h1>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Your Wallet, Your Way</h2>
                <p class="lead">Experience a revolution in the world of finance with our cutting-edge e-wallet solutions.</p>
                <p class="mb-0">Seamlessly manage your money, make secure transactions, and embrace the future of payments—all with 'Your Wallet, Your Way.'</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1543140313-318677635120?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1854&q=80')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Securely store multiple payment methods, effortlessly transfer funds, pay bills, and even invest—all in one user-friendly app</h2>
                <p class="lead">Say goodbye to the hassle of carrying cash and cards, and say hello to a smarter, more convenient way to manage your money.</p>
                <p class="mb-0">Join the e-wallet revolution and start shaping your financial future today.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
