{% extends "layout.html" %}

{% block page_title %}LeWallet - Register{% endblock %}

{% block content %}
<form class="row g-3" action="/register/confirm" method="POST" id="registration_form">
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <div class="col-md-6">
        <label for="inputPassword5" class="form-label">Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control" id="confirm_password">
      </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">IC Number</label>
      <input type="text" name="id" class="form-control" id="id">
    </div>
    <div class="col-12">

        <label for="inputPhoneNumber" class="form-label">Phone Number</label>
        <input type="number" name="phone_number" class="form-control" id="positiveIntegerInput" min="1">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a valid phone number</div>
        <label for="inputAddress" class="form-label">Phone Number</label>
        <input type="text" name="phone_number" class="form-control" id="phone_number">
      </div>


    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          I have read and agree to the Terms & Conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>

  <script>
    document.getElementById("registration_form").addEventListener("submit", function(e){
        e.preventDefault();
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;
        if (password != confirm_password){
            alert("Password and Confirm Password do not match");
        } else {
            this.submit();
        }
    });
  </script>
  {% endblock %}
