{% extends "layout3.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Transfer</h1>
    
    <!-- Transfer Form -->
    <div class="row">
        <div class="col-md-6">
            <form action="transfer/confirm" method="POST">
                </div>
                <div class="mb-3">
                    <label for="receiverPhoneNumber" class="form-label">Destination Account</label>
                    <input type="number" name="phone_number" class="form-control" id="positiveIntegerInput" min="1" placeholder="Recipient's Phone Number" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid phone number</div>
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" name="amount" class="form-control" id="amount" required>
                </div>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
